section.action
  .container.action__container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1
        h2.sub-heading.action__heading!= content.index.action.heading
        .action__text
          i.ic(class=content.index.action.icons.spidermanBlack)
        .action__text.action__text--format
          != content.index.action.text.format
          i.ic(class=content.index.action.icons.real3dBlack)
        .action__text.action__text--stock= content.index.action.text.stock
        .action__btn-group
          button.btn.action__btn.btn--default
            i.ic.btn__icon(class=content.index.action.icons.plane)
            != content.index.action.btns.city
          button.btn.action__btn.btn--default
            i.ic.btn__icon(class=content.index.action.icons.cinema)
            != content.index.action.btns.cinema
        .action__btn-group
          a.btn.btn--orange.action__btn.action__btn--orange!= content.index.action.btns.buy
    include ./_video.pug
    .hidden-xs.copyright= content.index.action.copyright