header.header
  i.header__icon
  .container.header__container
    h1.header__heading= content.index.header.heading
    .header__text
      i.ic(class= content.index.header.icons.marvel)
    .header__text
      i.ic(class= content.index.header.icons.spidermanWhite)
    .header__text.header__text--date= content.index.header.text.date
    .header__text.header__text--format= content.index.header.text.format
      i.ic(class= content.index.header.icons.real3dWhite)
    .header__text.header__text--prize= content.index.header.text.prize
      .age= content.index.header.age
