mixin testCols(count)
  case (count % 4)
    when 0
      .col-xs-12.col-sm-6.col-lg-3
        if (block)
          block
    when 1
      .col-xs-12.col-sm-6.col-lg-2
        if (block)
          block
    when 2
      .col-xs-12.col-sm-6.col-lg-3
        if (block)
          block
    when 3
      .col-xs-12.col-sm-6.col-lg-4
        if (block)
          block
mixin personalCols(count)
  case (count % 3)
    when 0
      .col-xs-12.col-sm-4.col-lg-6
        if (block)
          block
    when 1
      .col-xs-7.col-xs-push-5.col-sm-4.col-sm-push-0.col-lg-4
        if (block)
          block
    when 2
      .col-xs-5.col-xs-pull-7.col-sm-4.col-sm-pull-0.col-lg-2
        if (block)
          block
section#registration.registration
  .container.registration__container
    form.contactForm(action='./lib/model.php', method='POST', novalidate)
      .row
        .col-xs-12
          h2.sub-heading!= content.index.registration.heading
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1
          .promo.registration__item
            .row
              each promo, count in content.index.registration.promo
                if (promo.select)
                  .col-xs-12.col-sm-6
                    .promo__item
                      .form.promo__group
                        .form__heading!= promo.heading
                        .form-group.form__group
                          select.form-control.select.form__control--input-group(class=promo.class, name=promo.name, data-validation-required-message=promo.validation.message, required)
                            each item in promo.select
                              option(value=item.value)!= item.option
                          p.help-block.text-danger
                else
                  .col-xs-12.col-sm-4(class=(promo.code) ? promo.code : '')
                    .promo__item
                      .form.promo__group(class=(promo.code) ? promo.promoGroup : '')
                        .form__heading!= promo.heading
                        .form-group.form__group
                          input.form-control.form__control.form__control--mask(class=promo.code ? promo.code : '', placeholder=promo.placeholder, name=promo.name, tabindex='-1', type='text', required, data-validation-required-message=promo.validation.message)
                          p.help-block.text-danger
                            if (promo.code)
                              .form__submit.form__submit--promo
                                button.btn.btn--promo(type='button', data-loading-text='<i class="fa fa-spinner fa-spin fa-3x fa-fw btn__icon btn__icon--loading"></i>', data-loaded-text='<i class="fa fa-check btn__icon btn__icon--success" aria-hidden="true"></i>')!= promo.btn

                        .form__descr.example!= promo.text
                          span.example__key!= promo.key
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1
          .personal.registration__item
            .row
              each personal, count in content.index.registration.personal  
                +personalCols(count)
                  case (count % 3)
                    when 0
                      .form.personal__group
                        .form__heading!= personal.heading
                        .form-group.form__group
                          input.form-control.form__control(type='email', name=personal.name, tabindex='-1', data-validator-validemail-message=personal.validation.matches, data-validation-required-message=personal.validation.message, required)
                          p.help-block.text-danger
                    when 1
                      .form.personal__group
                        .form__heading!= personal.heading
                        .form-group
                          .form__group.input-group.form__group--date(data-provide='datepicker')
                            input.form-control.form-control.form__control.form__control--input-group(type='text', name=personal.name, tabindex='-1', placeholder=personal.text, data-validation-required-message=personal.validation.message, required)
                            span.input-group-addon
                              i.ic.form__icon(class=personal.icon)
                          p.help-block.text-danger
                    when 2
                      .form.personal__group
                        .form__heading!= personal.heading
                        .form-group.form__group.input-group.input-group--select
                          select.form-control.select.form__control.form__control--input-group(name=personal.name, data-validation-required-message=personal.validation.message, required)
                            if (personal.items)
                              each item in personal.items
                                option.select__option(value=item)!= item
                          p.help-block.text-danger

      .row
        .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1
            .test.registration__item
              .row
                each test, countTest in content.index.registration.test
                  +testCols(countTest)
                    .test__items
                      .form
                        .form__heading.form__heading--text-left!= test.heading
                        if (test.subHeading)
                          .form__sub-heading!= test.subHeading
                        if (test.items)
                          if (test.items.radio)
                            each item, count in test.items.radio
                              .form__group
                                  label.form__label
                                    input.form__radio(type='radio', name='radio' + countTest, data-validation-required-message=test.validation.message, required)
                                    span.form__text!= item

                            p.help-block.text-danger
                          else if (test.items.checkbox)
                            .row
                              each checkbox in test.items.checkbox
                                .col-xs-6
                                  each item, count in checkbox
                                    .form__group
                                      label.form__label
                                        input.form__checkbox(type='checkbox', name='checkbox', data-validation-minchecked-minchecked=(count == 0) ? test.items.validation.minchecked : '', data-validation-minchecked-message=(count == 0) ? test.items.validation.message : '')
                                        span.form__text!= item
                        if (test.films)
                          .form__heading.form__heading--film!= test.films.heading
                          if (test.films.items)
                            .form__group.input-group.input-group--select
                              select.multiselect.form__control.form__control--input-group(multiple='multiple', name=test.films.name, required)
                                each item in test.films.items
                                  option(value=item)!= item
                              p.help-block.text-danger
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1
          .registration__item.registration__item--last
            .registration__btn-group
              button.btn.btn--orange.registration__btn(type='submit', name=content.index.registration.btns.logup.name, data-loading-text='<i class=\'fa fa-circle-o-notch fa-spin\'></i> Форма отправляется...')!= content.index.registration.btns.logup.text
            .registration__btn-group
              a.registration__rule(target="_blank" href=content.index.registration.btns.rule.link)!= content.index.registration.btns.rule.text
          .success



